.hw_termsandconditions {
    .hw_list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        width: fit-content;
        margin: auto;
        padding-top: 10px;
    }

    &__sectionheading {
        text-align: left !important;
    }

    @media only screen and (min-width: 744px) {
        h1, h2, h3, h4, h5, h6, p {
            text-align: left;
        }
        .hw_list {
            margin: 0;
        }
    }

    p {
        max-width: 1440px;
    }

    .hw_button {
        &:focus, &:active, &:hover {
            transform: scale(1.0);
        }
    }
}