// Color Palette
$color-primary-light: #ffffff;
$color-primary-dark: #616161;
$color-faded-primary-dark: #a3a3a3;
$color-secondary: #dfae45;
$color-secondary-faded: #FFE4B0;
$color-tertiary: #ff4794;
$color-tertiary-faded: #FABAC6;
$color-error: #F9624E;
$color-success: #B5E468;

// Font Faces
$font-heading: "BerkshireSwash";
$font-logo: "JollyLodger";
$font-text: "Madimi";

// Responsive Sizes
$responsive-mobile: 320px;
$responsive-tablet: 640px;
$responsive-desktop: 1200px;

// Input Elements
$input-radius: 10px;

//Flex Elements
$flex-gap-mobile: 20px;
$flex-gap-tablet: 40px;
$flex-gap-desktop: 60px;

$flex-gap-medium-mobile: 10px;
$flex-gap-medium-tablet: 20px;
$flex-gap-medium-desktop: 30px;

$flex-gap-tiny-mobile: 5px;
$flex-gap-tiny-tablet: 10px;
$flex-gap-tiny-desktop: 15px;

$page-border-mobile: 40px;
$page-border-tablet: 80px;
$page-border-desktop: 160px;


@mixin flex-gap {
    gap: $flex-gap-mobile;
    @media only screen and (min-width: 640px) {
        gap: $flex-gap-tablet;
    }
    @media only screen and (min-width: 1200px) {
        gap: $flex-gap-desktop;
    }
}

@mixin flex-gap-medium {
    gap: $flex-gap-medium-mobile;
    @media only screen and (min-width: 640px) {
        gap: $flex-gap-medium-tablet;
    }
    @media only screen and (min-width: 1200px) {
        gap: $flex-gap-medium-desktop;
    }
}


@mixin flex-gap-tight {
    gap: $flex-gap-tiny-mobile;
    @media only screen and (min-width: 640px) {
        gap: $flex-gap-tiny-tablet;
    }
    @media only screen and (min-width: 1200px) {
        gap: $flex-gap-tiny-desktop;
    }
}


// Text Sizes
@mixin size-small-heading {
    font-size: 23px;
    line-height: 23px;
    @media only screen and (min-width: 640px) {
        font-size: 26px;
        line-height: 26px;
    }
    @media only screen and (min-width: 1200px) {
        font-size: 29px;
        line-height: 29px;
        letter-spacing: -2px;
    }
}
@mixin size-small-text {
    font-size: 18px;
    line-height: 18px;
    @media only screen and (min-width: 640px) {
        font-size: 19.5px;
        line-height: 19.5px;
    }
    @media only screen and (min-width: 640px) {
        font-size: 21px;
        line-height: 21px;
    }
}


@mixin size-medium-heading {
    line-height: 32px;
    font-size: 32px;
    @media only screen and (min-width: 640px) {
        font-size: 38px;
        line-height: 38px;
    }
    @media only screen and (min-width: 1200px) {
        font-size: 39px;
        line-height: 39px;
    }
}
@mixin size-medium-text {
    line-height: 21px;
    font-size: 21px;
    @media only screen and (min-width: 640px) {
        font-size: 22px;
        line-height: 22px;
    }
    @media only screen and (min-width: 1200px) {
        font-size: 23px;
        line-height: 23px;
    }
}


@mixin size-large-heading {
    line-height: 37px;
    font-size: 37px;
    @media only screen and (min-width: 640px) {
        font-size: 45px;
        line-height: 45px;
    }
    @media only screen and (min-width: 1200px) {
        font-size: 53px;
        line-height: 53px;
    }
}
@mixin size-large-text {
    line-height: 24px;
    font-size: 24px;
    @media only screen and (min-width: 640px) {
        font-size: 26px;
        line-height: 26px;
    }
    @media only screen and (min-width: 1200px) {
        font-size: 28px;
        line-height: 28px;
    }
}


@mixin size-logo-text {
    line-height: 18px;
    font-size: 22px;
    @media only screen and (min-width: 640px) {
        font-size: 27px;
        line-height: 27px;
    }
}