@font-face {
    font-family: "Madimi";
    src: url("/public/fonts/CaveatBrush-Regular.ttf");
}
@font-face {
    font-family: "BlackHanSans";
    src: url("/public/fonts/BlackHanSans-Regular.ttf");
}
@font-face {
    font-family: "Chivo";
    src: url("/public/fonts/Chivo-Regular.ttf");
}
@font-face {
    font-family: "JollyLodger";
    src: url("/public/fonts/JollyLodger-Regular.ttf");
}
@font-face {
    font-family: "Madimi";
    src: url("/public/fonts/MadimiOne-Regular.ttf");
}
@font-face {
    font-family: "Concert";
    src: url("/public/fonts/ConcertOne-Regular.ttf");
}
@font-face {
    font-family: "Itim";
    src: url("/public/fonts/Itim-Regular.ttf");
}
@font-face {
    font-family: "BerkshireSwash";
    src: url("/public/fonts/BerkshireSwash-Regular.ttf");
}
@font-face {
    font-family: "Delius";
    src: url("/public/fonts/Delius-Regular.ttf");
}
@font-face {
    font-family: "CherryBombOne";
    src: url("/public/fonts/CherryBombOne-Regular.ttf");
}
@font-face {
    font-family: "DarumadropOne";
    src: url("/public/fonts/DarumadropOne-Regular.ttf");
}
