body {
    font-size: 20px !important;
    @media only screen and (max-width: 744px) {
        font-size: 19px !important;
    }
    @media only screen and (max-width: 460px) {
        font-size: 18px !important;
    }
}
h1, h2, h3, h4, h5, h6  {
    font-family: "DarumadropOne" !important;
    text-align: center;
}
h1 {
    font-size: 2.5em !important;
    line-height: 1.1em !important;
}
h2 {
    font-size: 1.75em !important;
    line-height: 1.05em !important;
}
h3 {
    font-size: 1.35em !important;
    line-height: 1.05em !important;
}
h4 {
    font-size: 1.1em !important;
    line-height: 1.05em !important;

}
p, label, a, input, span {
    font-family: "Delius" !important;
    font-size: 1em !important;
    line-height: 1.2em !important;
}